@{

}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Duvitech</title>
    <meta charset="utf-8">
    <link rel="icon" href="~/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon" />
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <meta name="format-detection" content="telephone=no" />
    <!--bootstrap styles -->
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <!--main styles -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/MyMedia.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <!--bootstrap-tabs styles -->
    <link rel="stylesheet" href="~/css/bootstrap-tabs.css">
    <!--bxslider styles -->
    <link rel="stylesheet" href="~/css/bxslider.css">
    <!--jackbox styles -->
    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link rel="stylesheet" href="~/css/revolution-slider.css">

    <link href="~/jackbox/css/jackbox.css" rel="stylesheet" type="text/css" />
    <link href="~/jackbox/css/jackbox_hovers.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>


    <!--[if lt IE 8]>
        <div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/img/upgrade.jpg"border="0"alt=""/></a></div>
    <![endif]-->
    <!--[if lt IE 9]>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="~/css/ie.css">
      <script src="~/js/html5shiv.js"></script>
    <![endif]-->
    <!--[if gte IE 9]>
      <link rel="stylesheet" href="~/css/ie.css">
    <![endif]-->
</head>

<body class="wide_layout relative w_xs_auto">

    <header class="header_3">

        @Html.Partial("_TopMenu")

        <div class="header_top">
            <div class="container">
                <div class="navbar navbar_ clearfix">
                    <div class="navbar-inner">
                        <h1 class="brand"><a href="index.html"><img src="~/img/Side_Logo_Small.png" alt=""></a><span>reviver</span></h1>
                        <form id="form-search">
                            <span></span>
                            <input type="text" onfocus="if(this.value =='Type text and hit enter' ) this.value=''" onblur="if(this.value=='') this.value='Type text and hit enter'" value="Type text and hit enter" name="s">
                        </form>
                        <!--<a href="#" class="btn-cart btn-large btn-large-1">Cart (0)<span></span></a>-->
                    </div>
                </div>
            </div>

            <!--========main-menu========-->
            @Html.Partial("_MainMenu")
            <!--========end main-menu========-->

        </div>

    </header>
    <!--==============================end header==============================-->
    <!--==============================content=================================-->
    @RenderBody()
    <!--==============================aside================================-->
    @Html.Partial("_BottomBanner")

    <!--==============================footer================================-->
    @Html.Partial("_Footer")

    <div id="gotoTop" class="fa fa-angle-up"></div>

    <!--========block social========-->

    <div class="social">
        <ul>
            <li><a class="mail hasTooltip" data-original-title="mail" href="mailto:gvigelet@duvitech.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
            <li><a class="facebook hasTooltip" data-original-title="facebook" href="https://www.facebook.com/duvitech" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter hasTooltip" data-original-title="twitter" href="https://twitter.com/duvitech" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a class="linkedin hasTooltip" data-original-title="linkedin" href="http://www.linkedin.com/company/duvitech" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>

    <script src="~/js/jquery.js"></script>

    <script src="~/js/jquery-ui-1.9.2.custom.js"></script>
    <script src="~/js/jquery.bxslider.js"></script>

    <script src="~/js/appear.js"></script>
    <script src="~/js/retina.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/script.js"></script>

    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script src="~/js/jquery.themepunch.plugins.min.js"></script>
    <script src="~/js/jquery.themepunch.revolution.min.js"></script>

    <script type="text/javascript">


        jQuery(document).ready(function () {
            $('.tp-banner').revolution(
             {
                 delay: 9000,
                 startwidth: 1170,
                 startheight: 500,
                 hideThumbs: 10,
                 fullWidth: "on",
                 forceFullWidth: "on"
             });


            if($('#newsletter-form') != undefined)
            {
                // register newsletter form submit
                $("#newsletter-form").submit(function (event) {
                    event.preventDefault();

                    // get form data
                    var formData = $(this).serialize();

                    // post data to newsletter service
                    $.ajax({
                        url: '/api/MonthlyMailers/',
                        type: 'POST',
                        data: formData,
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        processData: false,
                        beforeSend: function () {
                            // show loader animation
                            console.log("started ajax post to Monthly Mailers api.");
                            if ($("#EmailAddress").hasClass("has-error"))
                                $("#EmailAddress").parent("div").removeClass("has-error");
                        },
                        complete: function () {
                            // hide loader animation
                            console.log("completed ajax post to Monthly Mailers api.");

                        },
                        success: function (data, textStatus, XMLHttpRequest) {
                            console.log(data);
                            if (data.result == true) {
                                // toast message
                                console.log("Created entry in monthly mailer table.");
                                if (data.msg != null)
                                    toastr.success(data.msg);
                                else
                                    toastr.success("Successfully added to the monthly mailer");
                            }
                            else {
                                console.log("failed to create monthly mailer entry");
                                if (data.msg != null)
                                    toastr.error(data.msg);
                                else
                                    toastr.error("Server error occurred please try again later");
                                $("#EmailAddress").parent("div").addClass("has-error");
                                $("#EmailAddress").focus();
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log("Server Error: " + xhr.responseText);
                            toastr.error("Server Error: " + xhr.responseText);
                        }
                    });

                });
            }


        }); //ready

    </script>
</body>
</html>